.azul{color:#0003ff; }
.w1{font-weight:1;}
.branco{color:#ffffff;}
.azulcl{color:#0003ff;}
.azulesc{color:#5000ff;}
.vermelho{color:#ff0a00;}
.fontmew{font-size:30px;
font-weight:1;}
.gg{font-size:100px;}
.g{font-size:50px}
